@using System.Security.Claims
@using Library.Mvc.Services.JwtServices
@using Library.Mvc.Services.RoleServices
@inject IHttpContextAccessor HttpContextAccessor

@* @{
    var username = HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Name);

} *@

@{
    var token = HttpContextAccessor.HttpContext.Session.GetString("token");
    var roles = new List<string>();
    string username = "";

    if (!string.IsNullOrEmpty(token))
    {
        username = JwtHelper.GetClaimValue(token, "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name");
        roles = GetUserRoles.GetRolesFromToken(token);
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Library.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Library.Mvc.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <!-- Sol taraf: Proje ismi ve Anasayfa linki -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PrizmaLibrary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        @if (roles.Contains("admin") || roles.Contains("manager"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Yönetici
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="GetAllUserList">Kullanıcılar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="GetAllBooks">Kitaplar</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>


                <!-- Orta kısım: Kitap Arama Formu -->
                <form class="d-flex me-auto" asp-controller="Book" asp-action="SearchBooksByTitle" method="get">
                    <input class="form-control me-2" type="search" name="bookTitle" placeholder="Kitap ara..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ara</button>
                </form>

                <!-- Sağ taraf: Kullanıcı durumu kontrolü -->
                <ul class="navbar-nav">
                    @if (!string.IsNullOrEmpty(username))
                    {
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Profile">@username</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="btn btn-outline-danger">Çıkış Yap</button>
                        </form>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Library.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>